body {
  background-image: url(imagens/FondoAPI.jpg);
  max-width: 1440px;
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1080px; 
  height: 1100px;
  margin-left: 11em;
  border-radius: 10px;
  background-color: rgb(222, 236, 206);
  border: 5px solid rgb(66, 192, 188);
}
.header1 img{
  margin-left: 2em;
  width: 474px; 
  height: 174px;
}
.container h1{
  color: rgb(66, 192, 188);
  margin-left: 3em;
}
.header2 {
  margin-left: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7% 30% 5% 40% 20% 20%;
      grid-template-rows: 7% 30% 5% 40% 20% 20%;
  -ms-grid-columns: (25%);
      grid-template-columns: repeat(4, 25%);
}
@keyframes animate-text{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-100%);
  }
}
.cards1{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-family: consolas;
}
.cards1 .box {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 2px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgb(66, 192, 188);
  overflow: hidden;
}
.cards1 .box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.cards1 .box:hover .imgBx{
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.cards1 .box .content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.cards1 .box .content h2{
  color: #fff;
  margin: 0;
  padding: 0;
}
.cards1 .box .content a{
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.cards1 .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards1 .box .content h2,
.cards1 .box .content p,
.cards1 .box .content a{
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.cards1 .box:hover .content h2{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.cards1 .box:hover .content p{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.cards1 .box:hover .content a{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
.character{
  width: 85%;
  margin-left: 5%;
  margin-top: 2em;
  color: rgb(66, 192, 188);
}
.character img{
  width: 400px;
  height: 400px;
  margin-left: 14em;
  border-radius: 5px;
  box-shadow: 5px 5px 0px;
}
.social {
  display: flex;
  width: 100%;
  margin-left: 10em;
  margin-top: 1em;
  font-family: "Open Sans", sans-serif;
}
.btn-footer {
  width: 20%;
  height: 20%;
  cursor: pointer;
  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
  outline: none;
}
.search {
  width: 25%;
  margin-left: 5em;
  margin-top: 1em;
  align-items: center;
}
.btn {
  border: none;
  border-radius: 2px;
  background: rgb(66, 192, 188);
  font-family: "Open Sans", sans-serif;
  color: #f6f6fe;
  font-size: 75%;
  height: 25px;
  width: 55px;
  margin: 4px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}